@model LibraryItem
<h2>Edit Item</h2>
<hr />

<form class="form-horizontal" asp-controller="Item" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="well">
        <div class="row">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CheckedOut" />
            <input type="hidden" asp-for="CoverString" />
            <div class="container">
                <div class="col-md-4">
                    <img class="img-fluid img-thumbnail center-block" src="@Model.CoverString" />
                    <div class="col text-center" style="padding-top:5px;">
                        <label class="btn btn-default btn-file">
                            Load image... <input type="file" name="file" style="display: none;" />
                        </label>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="form-group">
                        <label asp-for="Title" class="col-form-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="col-form-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Format" class="col-form-label"></label>
                        <select asp-for="Format" class="form-control" id="exampleFormControlSelect1">
                            <option>CD</option>
                            <option>DVD</option>
                            <option>Book</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="col-form-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
                @if (Model.CheckedOut == true)
                {
                    <div class="col-md-3 col-md-offset-1">
                        <div class="form-group">
                            <label asp-for="CheckedOutTo" class="col-form-label">Check out to</label>
                            <input asp-for="CheckedOutTo" class="form-control" />
                            <span asp-validation-for="CheckedOutTo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CheckedOutBy" class="col-form-label">Check out by</label>
                            <input asp-for="CheckedOutBy" class="form-control" />
                            <span asp-validation-for="CheckedOutBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CheckedOutDate" class="col-form-label">Check out date</label>
                            <input asp-for="CheckedOutDate" class="form-control" />
                            <span asp-validation-for="CheckedOutDate" class="text-danger"></span>
                        </div>
                    </div>
                }
            </div>
            <div class="divider"></div>
            <div class="col-md-2 pull-right">
                <input type="submit" value="Edit item" class="btn btn-success" style="margin-top:30px" />
                <a asp-area=""  asp-action="Index" class="btn btn-danger" style="margin-top:30px">Return</a>
            </div>
        </div>
    </div>
</form>
