
@{

    ViewBag.Title = "Index";
}

<h2>Select image file (*.jpg)</h2>

<div>@ViewData["Message"]</div>
<form method="post" asp-controller="CoverRecognition" asp-action="Index" enctype="multipart/form-data">
    <input type="file" name="files" accept="image/jpeg" />
    <input type="submit" value="Upload" />
   
</form>

<div>
    Your words from the cover:
    @{
        if (@ViewBag.Resoult!=null)
        {
            foreach (string st in ViewBag.Resoult)
            {
            <p>
                @st
            </p>
                }
            }

        }
</div>