@model CoverRecognitionVM

<form asp-controller="CoverRecognition" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="files" accept="image/jpeg" />
    <input type="submit" value="Upload" />
</form>

<h4>Maybe these words will help you complete the form:</h4>
<div>
    @{ if (Model != null && Model.CoverRecognitionResult.Count > 0 )
        {
            foreach (var line in @Model.CoverRecognitionResult)
            {
                <h4>@line</h4>
            }
        }   
    }
</div>